/*h1 {
    color: red;
}

li a {
    color: red;
}*/

.StandPosition {
  text-align: center;
}

.pos_type_out {
  background-color: #FA8072;
}
.pos_type_chl
{
background-color: #98FB98;
}

.pos_type_le
{
background-color: #AFEEEE;
}

.ResultClassWin
{
background-color: green;
border-color: transparent;
border-style: solid; /* Стиль границы */
padding: 5px; /* Поля вокруг текста */
border-radius: 10px;
color: white
}

.ResultClassLose
{
background-color: red;
border-color: transparent;
border-style: solid; /* Стиль границы */
padding: 5px; /* Поля вокруг текста */
border-radius: 10px;
color: white
}

.ResultClassDraw
{
background-color: orange;
border-color: transparent;
border-style: solid; /* Стиль границы */
padding: 5px; /* Поля вокруг текста */
border-radius: 10px;
color: white
}

.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}

/*td.col1 { background: red; color: white; }
td.col2 { background: orange; color: gray; }
td.col3 { background: yellow; }*/