


    <!-- <h2>Go to <a href="{% url 'standings' %}" class="btn btn-simple">/sport/standings</a> to see</h2> -->


, name='standings'

<nav class="navbar  mynav" role="navigation" id="navbar">
        <a class="navbar-brand mynav" href="{% url 'index' %}">Sports</a>
  			<ul class="nav navbar-nav">
            <li class="nav-item"><a href="{% url 'countries' %}" class="btn btn-simple">Country</a></li>
            <li class="nav-item"><a href="{% url 'leagues' %}" class="btn btn-simple">League</a></li>
            <li class="nav-item"><a href="{% url 'teams' %}" class="btn btn-simple">Team</a></li>
            <li class="nav-item"><a href="{% url 'seasons' %}" class="btn btn-simple">Season</a></li>
            <li class="nav-item"><a href="{% url 'sports' %}" class="btn btn-simple">Sport</a></li>
            <li class="nav-item"><a href="{% url 'results' %}" class="btn btn-simple">Result</a></li>
            <li class="nav-item"><a href="{% url 'standings' 1 %}" class="btn btn-simple">Standing</a></li>
        </ul>
  		</nav>